# acore-manager Docker workflow defaults

ACORE_REPO="https://github.com/azerothcore/azerothcore-wotlk.git"
ACORE_BRANCH="master"
ACORE_SOURCE_DIR=""

COMPOSE_PROJECT_NAME="acore-manager"
COMPOSE_BASE_FILE=""
COMPOSE_OUTPUT_DIR=""
COMPOSE_OVERRIDE_FILE=""
COMPOSE_ENV_FILE=""

SERVICE_DATABASE="database"
SERVICE_DB_IMPORT="db-import"
SERVICE_AUTHSERVER="authserver"
SERVICE_WORLDSERVER="worldserver"

ACORE_CONFIG_DIR="build/runtime/config"
ACORE_DATA_DIR="build/runtime/data"
ACORE_LOG_DIR="build/runtime/logs"

MYSQL_EXTERNAL="false"
MYSQL_HOST="database"
MYSQL_PORT="3306"
MYSQL_USER="<mysql-user>"
MYSQL_PASSWORD="<mysql-password>"
MYSQL_AUTH_DATABASE="acore_auth"
MYSQL_CHARACTER_DATABASE="acore_characters"
MYSQL_WORLD_DATABASE="acore_world"
