# acore-manager default settings

ACM_ROOT="/opt/acore-manager"

ACORE_REPO="https://github.com/azerothcore/azerothcore-wotlk.git"
ACORE_BRANCH="master"
ACORE_USER="azerothcore"
ACORE_GROUP="azerothcore"

AUTH_SERVICE="azerothcore-auth.service"
WORLD_SERVICE="azerothcore-world.service"

SLEEP_ENABLED="true"
SLEEP_CHECK_INTERVAL="60"
SLEEP_IDLE_TIMEOUT="300"
MIN_UPTIME_BEFORE_SLEEP="600"
REQUIRE_WORLDSERVER_READY="1"
REQUIRE_PLAYERBOTS_READY="1"
REQUIRE_BOT_LEVEL_BRACKETS_READY="1"
AUTH_PUBLIC_PORT="3724"
AUTH_BACKEND_PORT="3725"
AUTH_BACKEND_HOST="127.0.0.1"
SLEEP_PROXY_BIND_HOST="0.0.0.0"
WORLD_PORTS="8085 3443"
SLEEP_STATE_DIR="/run/acore-manager"

MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_AUTH_DB="acore_auth"
MYSQL_WORLD_DB="acore_world"
MYSQL_CHAR_DB="acore_characters"

DATADIR="/opt/acore-manager/shared/data"
CONFIG_DIR="/opt/acore-manager/shared/configs"

BUILD_TYPE="RelWithDebInfo"
BUILD_THREADS="auto"
CMAKE_EXTRA_FLAGS=""
